on boot

    # Set Governor to interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"

    # Disable sched boost
    write /proc/sys/kernel/sched_boost 0
